body {
    margin-top: 100px;
}

#board {
    width: 300px;
    height: 300px;
    margin: auto;
    /* margin-top: 150px; */
    /* background-color: antiquewhite; */
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 1px;
}

.cell {
    border: 1px solid black;
}

.resetBtn {
    display: flex;
    margin: auto;
    margin-top:30px;
    padding: 10px 5px;
    border-radius: 10px;
    background-color: yellowgreen;
}

.message {
    text-align: center;
}